issuer: https://dex.bxota.com

storage:
  type: kubernetes
  config:
    inCluster: true

web:
  http: 0.0.0.0:5556

oauth2:
  skipApprovalScreen: true

connectors:
  - type: oidc
    id: keycloak
    name: Keycloak
    config:
      issuer: https://keycloak.bxota.com/realms/kubequest2
      clientID: dex
      clientSecret: "{{ dex_client_secret }}"
      redirectURI: https://dex.bxota.com/callback
      insecureSkipEmailVerified: true
      insecureEnableGroups: true
      userNameKey: email
      scopes:
        - email
        - groups
      claimMapping:
        groups: groups

staticClients:
  - id: kubernetes
    name: kubectl
    public: true
    redirectURIs:
      - http://localhost:8000
    trustedPeers:
      - headlamp

  - id: argocd
    name: Argo CD
    secret: "{{ argocd_client_secret }}"
    redirectURIs:
      - https://argocd.bxota.com/auth/callback

  - id: grafana
    name: Grafana
    secret: "{{ grafana_client_secret }}"
    redirectURIs:
      - https://grafana.bxota.com/login/generic_oauth

  - id: headlamp
    name: Headlamp
    secret: "{{ headlamp_client_secret }}"
    redirectURIs:
      - https://headlamp.bxota.com/oidc-callback
