issuer: https://dex.15.224.195.86.sslip.io

storage:
  type: kubernetes
  config:
    inCluster: true

web:
  http: 0.0.0.0:5556

oauth2:
  skipApprovalScreen: true

connectors:
  - type: oidc
    id: keycloak
    name: Keycloak
    config:
      issuer: https://keycloak.15.224.195.86.sslip.io/realms/kubequest2
      clientID: dex
      clientSecret: "{{ dex_client_secret }}"
      redirectURI: https://dex.15.224.195.86.sslip.io/callback
      insecureSkipEmailVerified: true
      scopes:
        - openid
        - profile
        - email
        - groups
      claimMapping:
        groups: groups

staticClients:
  - id: kubernetes
    name: kubectl
    public: true
    redirectURIs:
      - http://localhost:8000

  - id: argocd
    name: Argo CD
    secret: "{{ argocd_client_secret }}"
    redirectURIs:
      - https://argocd.15.224.195.86.sslip.io/auth/callback

  - id: grafana
    name: Grafana
    secret: "{{ grafana_client_secret }}"
    redirectURIs:
      - https://grafana.15.224.195.86.sslip.io/login/generic_oauth

  - id: headlamp
    name: Headlamp
    secret: "{{ headlamp_client_secret }}"
    redirectURIs:
      - https://headlamp.15.224.195.86.sslip.io/oidc-callback
